<div class="navbar">
    <mat-toolbar color="primary">
        <span class="navbar-title" (click)="scrollToSection('home')">Fit.Club</span>
        <nav class="navbar-links">
          <h3 class="navbar-heading" (click)="scrollToSection('home')">Home</h3>
          <h3 class="navbar-heading" (click)="scrollToSection('about us')">About Us</h3>
          <h3 class="navbar-heading" (click)="scrollToSection('classes')">Classes</h3>
          <h3 class="navbar-heading" (click)="navigateToProfile()">Profile</h3>
          <h3 class="navbar-heading" (click)="logout()">Logout</h3>
        </nav>
      </mat-toolbar>
</div>

<div class="home" >
    <div class="home-container" id="home">
        <div class="home-content">
          <h2>Welcome to the start of your beginning!!!</h2>
          <p class="f_line">Find your desire and make them your <span style="color: red;">reality.</span></p>
          <p class="s_line">You can start low but you always end <span style="color: red;">high.</span></p>
        </div>
      </div>
</div>

<div class="about" >
    <div class="about-container" id="about us">
        <h2>About <span style="color: red;">Us</span></h2>
        <div class="content">
            <p>Welcome to our gym! We are dedicated to helping you achieve your fitness goals and lead a healthy lifestyle. Our experienced trainers and state-of-the-art facilities provide a supportive environment for your fitness journey.</p>
            <p>At our gym, we offer a wide range of fitness classes, personalized training programs, and modern equipment to cater to your individual needs. Whether you're a beginner or an advanced athlete, we have the resources to help you reach new heights.</p>
            <p>Our team of certified trainers is passionate about fitness and committed to guiding you every step of the way. We believe in creating a positive and motivating atmosphere where you can thrive and push your limits.</p>
            <p>Join our gym today and embark on a transformative fitness experience. Take charge of your health and well-being with us!</p>
          </div>
</div>

<div class="classes" id="classes">
    <div class="classes-container">
        <h2>Classes <span style="color: red;">Available</span></h2>
        <div class="class-grid">
          <div *ngFor="let classItem of classes" class="class-item">
            <h3>{{ classItem.name }}</h3>
            <p>{{ classItem.description }}</p>
            <br>
            <p>{{classItem.timing}}</p>
          </div>
        </div>
      </div>
</div>

