<mat-toolbar color="primary">
    <span class="navbar-title">Fit.Club</span>
    <span class="spacer"></span>
    <h3 href="#"class="navbar-heading" (click)="logout()">Logout</h3>
  </mat-toolbar>
  
  <div class="profile-container">
    <h2>Profile</h2>
    <div class="profile-details">
      <p><strong>Name:</strong> {{ userData.name }}</p>
      <p><strong>Age:</strong> {{ userData.age }}</p>
      <p><strong>Weight:</strong> {{ userData.weight }}</p>
      <p><strong>Classes:</strong> {{ userData.classesJoined }}</p>
      <p><strong>Location:</strong> {{ userData.location }}</p>
    </div>
  </div>
  