<mat-toolbar color="primary">
    <span class="navbar-title">Fit.Club</span>
    <span class="spacer"></span>
    <h3 href="#"class="navbar-heading" (click)="logout()">Logout</h3>
  </mat-toolbar>

  <div class="users-table">
  <h2>Users</h2>
  <table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Class</th>
        <th>User Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData">
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.weight }}</td>
        <td>{{ user.classesJoined }}</td>
        <td>{{ user.type }}</td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="classes-table">
  <h2>Classes</h2>
  <table >
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Description</th>
        <th>Timing</th>
        <th>No. of Users</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classItem of classesData">
        <td>{{ classItem.name }}</td>
        <td>{{ classItem.description }}</td>
        <td>{{ classItem.timing }}</td>
        <td>{{ classItem.numUsers }}</td>
      </tr>
    </tbody>
  </table>
</div>
      <!-- Data rows -->
      <!-- <tr mat-header-row *matHeaderRowDef="classColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: classColumns;"></tr>
    </table> -->
  <!-- </div> -->
  
  